#enter
{
  display: block;
  width: 252px;
   margin-left: auto;
    margin-right: auto;
  height: 50px;
  background: url("../img/enter-button.png") no-repeat 0 0;

}

#enter:hover
{ 
  background-position: 0 -50px;
}

#enter span
{
  position: absolute;
  top: -999em;
}