/* unvisited link */
/* line 2, ../scss/custom.scss */
a:link {
  color: #f6f6f6;
}

/* visited link */
/* line 7, ../scss/custom.scss */
a:visited {
  color: #f6f6f6;
}

/* mouse over link */
/* line 12, ../scss/custom.scss */
a:hover {
  color: #dbdbdb;
}

/* selected link */
/* line 17, ../scss/custom.scss */
a:active {
  color: #f6f6f6;
}

/* line 20, ../scss/custom.scss */
.special {
  display: none;
}
